body {
  background: #ffc943;
  color: #1a1a1a;
  font-family: 'Segoe UI', sans-serif;
}

#Main {
  border: 3px solid black;
  background: #ffc943;
  border-radius: 20px;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

#Title {
  font-size: 300%;
  text-align: center;
  font-weight: bold;
}

label {
  display: inline-block;
  font-weight: bold;
  font-size: 140%;
  margin: 10px 0;
}

input[type="text"] {
  background: #222;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 60%;
  margin: 5px 0;
}

.Button {
  background: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 #000;
  cursor: pointer;
}

.Button:hover {
  background: #eee;
}

.Message {
  font-family: monospace;
  color: #ffc943;
  margin: 3px 0;
}
a {
  font-size: 100%;
  text-align: center;
  color: #1a1a1a;
  font-family: 'Segoe UI', sans-serif;
  text-decoration: none;
}
